.form-container{
    height: auto;
    width: 300px;
    border: 1px solid ;
    margin: 20px auto;
    padding: 10px 20px;
}

.form-title{
    text-align: center;
}
.form-container .form-control label{
    display: block;
    margin-bottom: 8px;
}
.form-control{
    margin-bottom: 20px;
}
.form-control input{
    width: 95%;
    height: 30px;
}

.btn-submit{
    padding: 10px 10px;
    width: 98%;
    background-color: rgb(168, 166, 166);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
.btn-submit:hover{
    background-color: gray;
}